<footer class="footer">
  <div class="footer-container">
    <div class="footer-col newsletter">
      <h3>Join weekly Newsletter</h3>
      <p class="input-label">Your Email</p>
      <div class="subscribe-box">
        <input type="email" placeholder="Enter Your Email">
        <button class="btn-subscribe">Subscribe</button>
      </div>
      <div class="social-icons">
        <a href="mailto:help@layerzeroinnovations.com" class="circle-icon">
          <img src="assets/icons/Gmail.png" alt="Gmail" class="social-icon-img">
        </a>
        <a href="https://www.linkedin.com/company/layerzero-innovations/" class="circle-icon">
          <img src="assets/icons/LinkedIn.png" alt="LinkedIn" class="social-icon-img">
        </a>
        <a href="https://www.instagram.com/layerzeroinnovations/" class="circle-icon">
          <img src="assets/icons/Instagram.png" alt="Instagram" class="social-icon-img">
        </a>
      </div>


    </div>

    <div class="footer-col">
      <h3>Company</h3>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h3>Support</h3>
      <ul>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
  </div>

  <div class="brand-section">
    <div class="footer-logo" (click)="scrollToTop()" style="cursor: pointer;">LAYER<span>ZERO</span></div>
    <p class="tagline">Critical Geospatial Intelligence</p>
  </div>

  <div class="footer-bottom">
    <p>Copyright 2026. LayerZero Innovations, All rights reserved.</p>
  </div>
</footer>