<section class="hero-section">
  
  <div class="hero-content">
    <h1 class="main-title">
      Cognitive Geospatial <span class="mint">Infrastructure</span> <br>
      for Mission-Critical Intelligence
    </h1>
    
    <p class="hero-description">
      Advanced geospatial intelligence platform combining satellite imagery, machine learning, 
      and autonomous processing pipelines to transform complex spatial data into real-time operational intelligence.
    </p>
    
    <button class="btn-primary" (click)="scrollToFeatures()">Explore</button>

  </div>

  <div class="video-wrapper">
    <video 
    #heroVideo
    class="hero-video"
    autoplay
    muted
    loop
    playsinline
    preload="auto"
    disableRemotePlayback
    oncanplay="this.muted=true">
    <source src="assets/lizo.mp4" type="video/mp4">
  </video>
  </div>

  <div class="features-grid">
    @for (feature of features; track feature.title) {
      <div class="feature-card">
        <div class="icon-circle">
          <img [src]="feature.icon" [alt]="feature.title" />
        </div>
        <h3>{{ feature.title }}</h3>
        <p>{{ feature.desc }}</p>
      </div>
    }
  </div>

  <script>
    const video = document.querySelector('.hero-video');
    video.play().catch(() => {
      console.log("Autoplay blocked, waiting for user interaction");
    });
  </script>

</section>