<section class="features-page">
  <!-- <div class="intro-container">
    <div class="intro-content">
      <h2 class="main-heading">Deterministic Spatial Awareness <br>with <span class="mint">Lizo Intelligence</span></h2>
      <p class="intro-text">
        Lizo geospatial engine strips away environmental noise to reveal the 
        strategic reality, ensuring that whether you are deploying assets in a 
        conflict zone, a disaster site, or a global supply chain, you operate with 
        total situational dominance.
      </p>
      <button class="btn-learn-dark">Learn More</button>
    </div>

    <div class="intro-image-wrapper">
      <img src="assets/change2.png" alt="Spatial Intelligence" class="side-image">
    </div>
  </div> -->

  <div class="stack-section">
    <h2 class="stack-title">Empowering Precision-Dependent <span class="mint">Industries</span></h2>
    <p class="stack-subtitle">
      We provide the precision required to secure the tactical edge, accelerate life-saving disaster 
      response, and fortify supply chain integrity against the unpredictable.
    </p>

    <div class="stack-grid">
      @for (item of stackItems; track item.title) {
        <div class="stack-card-light">
          <h3>{{ item.title }}</h3>
          <p>{{ item.desc }}</p>

           <!-- Explore Button -->
      <button class="explore-btn" (click)="onExplore(item)">
        Explore →
      </button>
        </div>
      }
    </div>
  </div>
</section>