<section class="features-page">

  <div class="stack-section">
    <h2 class="stack-title">Empowering Precision-Dependent <span class="mint">Industries</span></h2>
    <p class="stack-subtitle">
      We provide the precision required to secure the tactical edge, accelerate life-saving disaster 
      response, and fortify supply chain integrity against the unpredictable.
    </p>

    <div class="stack-grid">
      @for (item of stackItems; track item.title) {
        <div class="stack-card-light">
          <h3>{{ item.title }}</h3>
          <p>{{ item.desc }}</p>

           <!-- Explore Button -->
      <button class="explore-btn" (click)="onExplore(item)">
        Explore →
      </button>
        </div>
      }
    </div>
  </div>
</section>